combination_tracks.css
compat_121.html
export_dialog.css
faceted_track_selector.css
file_dialog.css
genome.css
hierarchical_track_selector.css
icons.css
index.html
INSTALL
jbrowse.conf
jbrowse.conf~
jbrowse_conf.json
LICENSE
main.css
Makefile
Makefile.PL
maker.css
menubar.css
MYMETA.json
MYMETA.yml
README.md
release-notes.txt
sequence.css
setup_lam_PW_SP.sh
setup.log
#setup.sh#
setup.sh
track_styles.css
tristate.css

bin:
add-bam-track.pl
add-bw-track.pl
add-json.pl
add-track-json.pl
bam-to-json.pl
biodb-to-json.pl
cpanm
draw-basepair-track.pl
flatfile-to-json.pl
generate-names.pl
jbdoc
json2conf.pl
maker2jbrowse
new-plugin.pl
prepare-refseqs.pl
remove-track.pl
ucsc-to-json.pl
wig2png
wig-to-json.pl

data:
json

docs:
config-desc.html
config.html
docs.css
events.md
examples
featureglyphs.html
index.html
screencasts
tutorial

extlib:
bin
lib
man

img:
cds.png
cds.svg
chevron2.png
chevron2.svg
chevron3.png
chevron3.svg
chevron.png
chevron.svg
commonIconsDisabled.png
commonIconsEnabled.png
dark_20x2.png
dark_20x3.png
dblhelix-red.png
dblhelix-red.svg
Empty.png
glyph-diamond.png
glyphs_black.png
glyphs_white.png
helix2-green.png
helix2-green.svg
helix3-green.png
helix3-green.svg
helix-green.png
helix-green.svg
herringbone10.png
herringbone10.svg
herringbone11.png
herringbone11.svg
herringbone12.png
herringbone12.svg
herringbone13.svg
herringbone14.svg
herringbone15.png
herringbone15.svg
herringbone16m.svg
herringbone16.png
herringbone16.svg
herringbone2.svg
herringbone3.png
herringbone3.svg
herringbone4.png
herringbone4.svg
herringbone5.png
herringbone5.svg
herringbone6.png
herringbone6.svg
herringbone7.png
herringbone7.svg
herringbone8.png
herringbone8.svg
herringbone9.png
herringbone9.svg
herringbone-blue.png
herringbone-pal.png
herringbone.png
herringbone.svg
JBrowseLogo_small.png
left_arrow.png
loops.png
loops.svg
minus-arrowhead.png
minus-cds0.png
minus-cds0.svg
minus-cds1.png
minus-cds1.svg
minus-cds2.png
minus-cds2.svg
minus-chevron2.png
minus-chevron3.png
minus-chevron.png
minus-herringbone10.png
minus-herringbone11.png
minus-herringbone12.png
minus-herringbone13.png
minus-herringbone14.png
minus-herringbone16.png
minus-pacman.png
path11828.png
path2160.png
path3415.png
plus-arrowhead.png
plus-cds0.png
plus-cds0.svg
plus-cds1.png
plus-cds1.svg
plus-cds2.png
plus-cds2.svg
plus-chevron2.png
plus-chevron3.png
plus-chevron.png
plus-herringbone10.png
plus-herringbone11.png
plus-herringbone12.png
plus-herringbone13.png
plus-herringbone14.png
plus-herringbone16.png
plus-pacman.png
plus-pacman.svg
pluswalk-green.svg
pluswalk-orange.svg
red_crosshatch_bg.png
red_x.png
right_arrow.png
right_arrow.svg
scroll_zoom_sprites.png
spinner.gif
spriteArrows.png
tracklist_bg.png
transcript.png
transcript.svg
tristate.png
utr.png
utr.svg

plugins:
RegexSequenceSearch

sample_data:
json
raw
test_snippet.html

samtools-master:
AUTHORS
bam2bcf.c
bam2bcf.h
bam2bcf_indel.c
bam2depth.c
bam_aux.c
bam.c
bam_cat.c
bam_color.c
bam_endian.h
bam_flags.c
bam.h
bam_import.c
bam_index.c
bam_lpileup.c
bam_lpileup.h
bam_mate.c
bam_md.c
bam_plbuf.c
bam_plbuf.h
bam_plcmd.c
bam_reheader.c
bam_rmdup.c
bam_rmdupse.c
bamshuf.c
bam_sort.c
bam_split.c
bam_stat.c
bamtk.c
bam_tview.c
bam_tview_curses.c
bam_tview.h
bam_tview_html.c
bedcov.c
bedidx.c
ChangeLog.old
cut_target.c
errmod.c
errmod.h
examples
faidx.c
INSTALL
kaln.c
kaln.h
kprobaln.c
kprobaln.h
LICENSE
Makefile
Makefile.mingw
misc
NEWS
padding.c
phase.c
README
sam.c
sam.h
sam_header.c
sam_header.h
sample.c
sample.h
samtools.1
samtools.h
sam_view.c
stats.c
stats_isize.c
stats_isize.h
test
win32

src:
dgrid
dijit
dojo
dojox
JBrowse
nls
perl5
wig2png
data/
